body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: grey;
    height: 100px;
}
h2{
    color:#fff;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
}
.first{
    background-color: #dbdb56;
    height: 600px;
    margin-top: 130px;
    margin-left:380px; 
    width: 50%; 
    position: relative;  
}
.second{
    height: 190px;
    width:190px ;
    margin:0;
    border-radius: 100px;
    background-color:#db445d;
    position: absolute;
    top:-100px;
    left: -70px;

    
}
.third{
    height: 190px;
    width:190px ;
    border-radius: 100px;
    background-color:#0f2e49;
    position: absolute;
    bottom: -70px;
    left:-100px;

    
}
.fourth{
    height: 190px;
    width:190px ;
    border-radius: 100px;
    background-color:#0a6109;
    right:-100px;
    position: absolute;
    top:-100px;
}
.fiveth{
    height: 190px;
    width:190px ;
    border-radius: 100px;
    background-color:#73107e;
    position: absolute;
    right:-100px;
    bottom:-60px;
}
@media screen and (max-width: 667px) {
    .first {
      width: 100%; 
      margin-left: 200px;
    }
    .second,.third,.fourth,.fiveth{
        position:absolute;
    }
    header{
        width: 100%;
    }
    h2{
        text-align: center;
        padding-top: 15px;
        font-size: 20px;
    }
  }
@media screen and (max-width: 800px) {
    .one {
      width: 100%; 
      margin-left: 200px;
    }
    .second,.third,.fourth,.fiveth{
        position:absolute;
    }
    header{
        width: 100%;
    }
    h2{
        text-align: center;
        padding-top: 15px;
        font-size: 15px;
    }
  }
  @media screen and (max-width: 1000px) {
    .one {
      width: 100%; 
      margin-left: 200px;
    }
    .second,.third,.fourth,.fiveth{
        position:absolute;
    }
    header{
        width: 100%;
    }
    h2{
        text-align: center;
        padding-top: 15px;
        font-size: 30px;
    }
  }
